*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: rgb(0, 0, 0);
  --secondary: rgb(252, 248, 237);
  --bg: #242424;
  color: snow;
  background: var(--bg);
}

body.light {
  --primary: rgb(252, 248, 237);
  --secondary: rgb(0, 0, 0);
  --bg: rgb(243, 237, 225);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.giraffe {
  position: relative;
  width: 300px;
  height: 400px;
  background: var(--primary);
  border: 5px solid var(--secondary);
}

.giraffe .horn1 {
  position: absolute;
  top: 68px;
  left: 102px;
  width: 26px;
  height: 24px;
  background: var(--primary);
  z-index: 2;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 52%;
}
.giraffe .horn1::before {
  position: absolute;
  content: "";
  top: 9px;
  right: 1px;
  width: 15px;
  height: 15px;
  border-left: 0.7px solid var(--secondary);
}

.giraffe .horn {
  position: absolute;
  top: 80px;
  left: 92px;
  width: 47px;
  height: 12px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 22px;
  background: var(--secondary);
  z-index: 2;
}

.giraffe .horn::before {
  position: absolute;
  content: "";
  top: -6.6px;
  left: 0px;
  width: 10px;
  height: 7px;
  background: var(--secondary);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.giraffe .horn::after {
  position: absolute;
  content: "";
  top: -10.6px;
  right: 0px;
  width: 11px;
  height: 11px;
  background: var(--secondary);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.giraffe .mouth {
  position: absolute;
  top: 96px;
  left: 96px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: crimson;
}

.giraffe .neck {
  position: absolute;
  top: 78px;
  left: 112px;
  width: 49px;
  height: 97px;
  background: var(--primary);
  z-index: 1;
  border-left: 0.7px solid var(--secondary);
  border-bottom-left-radius: 44px;
}

.giraffe .gbody {
  position: relative;
  top: 175px;
  left: 112px;
  width: 47.7px;
  height: 68px;
  background: var(--secondary);
}

.giraffe .gbody::before {
  position: absolute;
  content: "";
  bottom: 67.4px;
  left: 0;
  width: 100%;
  height: 42.5px;
  background: var(--secondary);
}

.giraffe .gbody::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 47px;
  width: 48px;
  height: 100%;
  background: var(--secondary);
  border-top-right-radius: 50px;
}

.giraffe .tail {
  position: absolute;
  top: 170px;
  left: 200px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: crimson;
}

.giraffe .legs {
  position: absolute;
  bottom: 70px;
  left: 112px;
  width: 95px;
  height: 108px;
  background: var(--primary);
  z-index: 1;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  border-left: 0.7px solid var(--secondary);
  border-right: 0.7px solid var(--secondary);
}

.giraffe .legs::before {
  position: absolute;
  content: "";
  left: 0px;
  height: 100%;
  width: 31px;
  background: none;
  border-top-left-radius: 21px;
  border-right: 0.7px solid var(--secondary);
}

.giraffe .legs::after {
  position: absolute;
  content: "";
  right: 0px;
  height: 100%;
  width: 31px;
  background: none;
  border-top-right-radius: 21px;
  border-left: 0.7px solid var(--secondary);
}

@media (min-width: 640px) {
  .giraffe {
    transform: scale(1.2);
  }
}
